#page {
	padding-top: 15px;
}

.row .input-group {
	margin-bottom: 15px;
}

footer {
	border-top: 1px solid rgb(28, 30, 34);
	padding-top: 15px;
}

footer p {
	color: rgb(119, 119, 119);
}

td {
	vertical-align: middle !important;
}

table {
	width: auto !important;
}

.alert {
	margin-top: 15px;
}

#durationForm {
	margin-top: 10px;
}

#githubImg {
	margin-right: 5px;
	margin-bottom: 2px;
}

g > g > path[fill="#ffffff"] {
  fill: black;
}