#page {
  padding-top: 15px;
}
.row .input-group {
  margin-bottom: 15px;
}
#site-info {
  margin-bottom: 30px;
}
footer {
  border-top: 1px solid #1c1e22;
  padding-top: 15px;
}
footer p {
  color: #777777;
}
.animate {
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.hidden-row {
  height: 0px !important;
  padding: 0px 8px !important;
  color: transparent;
}
.hidden-cell {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
td {
  vertical-align: middle !important;
}
tr.size-row td {
  padding: 0 8px !important;
  border: 0 !important;
}
tr.size-row td div {
  height: 0px;
  visibility: hidden !important;
  overflow-y: hidden !important;
}
tr.highlight.start {
  background-color: #ee5f5b !important;
}
tr.highlight.stop {
  background-color: #62c462 !important;
}
tr.date-row td {
  padding: 0px !important;
}
tr.date-row td > div {
  height: 0px !important;
  padding: 0px 8px !important;
  color: transparent;
  overflow-y: hidden;
}
tr.date-row td > div.animateIn {
  height: 36px !important;
  padding: 8px !important;
  color: #c8c8c8;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
tr.date-row td > div.animateOut {
  height: 0px !important;
  padding: 0px 8px !important;
  color: transparent;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
table {
  width: auto !important;
}
.alert {
  margin-top: 15px;
}
#githubImg {
  margin-right: 5px;
  margin-bottom: 2px;
}
g > g > path[fill="#ffffff"] {
  fill: black;
}
