@import "variables.less";

#page {
    padding-top: 15px;
}

.row .input-group {
    margin-bottom: 15px;
}

#site-info {
    margin-bottom: 30px;
}

footer {
    border-top: 1px solid rgb(28, 30, 34);
    padding-top: 15px;
    p {
        color: rgb(119, 119, 119);
    }
}

@animationDuration: 0.3s;
@cellPadding: 8px;
@easing: linear;

.animate {
    -webkit-transition: @animationDuration @easing;
    -moz-transition: @animationDuration @easing;
    -ms-transition: @animationDuration @easing;
    -o-transition: @animationDuration @easing;
    transition: @animationDuration @easing;
}

.hidden-row {
    height: 0px !important;
    padding: 0px @cellPadding !important;
    color: transparent;
}

.hidden-cell {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

td {
    vertical-align: middle !important;
}

tr {
    &.size-row td {
        padding: 0 @cellPadding !important;
        border: 0 !important;
        div {
            height: 0px;
            visibility: hidden !important;
            overflow-y: hidden !important;
        }
    }
    &.date-row td {
        padding: 0px !important;
        &>div {
            // Initial hidden style to be overridden by animation styles
            .hidden-row;
            overflow-y: hidden;
            &.in {
                height: @line-height-computed + @cellPadding + @cellPadding !important;
                padding: @cellPadding !important;
                color: @text-color;
                &.animateIn {
                    .animate;
                }
            }
            &.animateOut {
                .hidden-row;
                .animate;
            }
        }
    }
    &.highlight {
        td div {
            color: @body-bg !important;
        }
        &.start {
            background-color: @brand-danger !important;
        }
        &.stop {
            background-color: @brand-success !important;
        }
    }
}

table {
    width: auto !important;
    cursor: default;
}

.alert {
    margin-top: 15px;
}

#nextEvent {
  visibility: hidden;
  text-align: center;
  div {
    cursor: default;
    display: inline-block;
  }
}

#gitHubImg {
    margin-right: 5px;
    margin-bottom: 2px;
}

g > g > path[fill="#ffffff"] {
    fill: black;
}